body{
    font-family: 'Ubuntu', sans-serif;
}
.logo{
    font-size: 120px;
    color: #3366dd;
    height: 140px;
}
.tagline{
    font-size: 25px; 
    color: #808080;
    height: 40px;

}
img{
    height: 100px;
    width: 100px;
}
.spacer{         height: 100px; }
.half-spacer{    height: 50px;  }
